*{box-sizing: border-box;font-family: 'Poppins', sans-serif;}
ul,li,figure,h1,h2,h3,h4,h5,h6,p { margin:0; padding:0; }
.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected { background-color:transparent !important; }
.container { width:1140px !important; }
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) { border-color:transparent; }
header { float: left; width: 100%; position: relative; z-index:1000; min-height: 70px; position: fixed; top: 0; padding:5px 20px; background-color: #fff; border-bottom: 1px solid #ddd; }
a#Company_logo,a#Company_logo:link,a#Company_logo:visited { max-width:200px; height:60px; float:left; }
a#Company_logo img { width:auto; max-width:100%; height:auto; float:left; position:relative; top:50%; left:50%; -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); }
.main_container { width:100%; float:left; padding-top:70px; }
ul.header_btn { width:auto; height:auto; float:right; margin:7px 0 0 0; }
ul.header_btn li { float:left; margin-right:5px; }
ul.header_btn li:last-of-type { margin-right:0; }
a.company_btn,a.company_btn:link,a.company_btn:visited,a.university_btn,a.university_btn:link,a.university_btn:visited { width:auto; height:28px; float:left; padding:0 10px; font-size: 16px; line-height:28px; font-weight: 500; text-transform:uppercase; margin:10px 0 0 0; }
a.company_btn,a.company_btn:link,a.company_btn:visited { background:#38d034; color: #fff; }
a.company_btn:hover,a.company_btn:focus { background:#2faf2c; }
a.university_btn,a.university_btn:link,a.university_btn:visited { background:#fff; color: #282828; }
a.university_btn:hover,a.university_btn:focus { color: #333232; }
.profile_img { height:auto; width:auto; float:left; padding-right:25px; background:url("../images/dropdown.png") right center no-repeat; } 
.profile_img figure { height:45px; width:45px; float:left; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; overflow:hidden; } 

ul#profile-img { width:210px !important; padding:15px; right: 10px !important; left: inherit !important; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; position:relative; -webkit-box-shadow:0px 3px 15px 3px rgba(0, 0,0, 0.3); -moz-box-shadow:0px 3px 15px 3px rgba(0, 0,0, 0.3); box-shadow:0px 3px 15px 3px rgba(0, 0,0, 0.3); -ms-box-shadow:0px 3px 15px 3px rgba(0, 0,0, 0.3); -o-box-shadow:0px 3px 15px 3px rgba(0, 0,0, 0.3); }
/* ul#profile-img:before { content: ""; position: absolute; bottom: 100%; margin-left: 20px; border-width: 15px; border-style: solid; border-color: transparent transparent #fff transparent; right: 23px; }  */
a.sign_up,a.sign_up:link,a.sign_up:visited,a.sign_in,a.sign_in:link,a.sign_in:visited { width:48% !important; height:38px; padding:0 10px; font-size: 16px; line-height: 38px; box-sizing: border-box; }
a.sign_up,a.sign_up:link,a.sign_up:visited { float:left; background:#ffdb4d; color: #282828; }
a.sign_in,a.sign_in:link,a.sign_in:visited { float:right; color: #0097d5; }


.banner { width:100%; height:578px; float:left; margin:0; background:url("../images/backlayer.png"); background-size: cover; background-position: center; box-sizing: border-box; position: relative; padding-bottom:165px; } 
.banner h1 { color:#fff; font-size:60px; line-height:70px; text-align:center; }
.banner h5 { color:#fff; font-size:20px; line-height:30px; text-align:center; }
.start_posting { width: 100%; float: left; text-align:center; margin-top:-165px; position:relative; z-index:1; }
.start_posting_form {width: 100%; float: left; background:url("../images/form-bg.png") left top repeat #fff; padding: 40px 50px 50px 50px; -webkit-box-shadow: 0 5px 5px rgba(223,223,223,.42); -moz-box-shadow: 0 5px 5px rgba(223,223,223,.42); box-shadow: 0 5px 5px rgba(223,223,223,.42); -moz-box-shadow: 0 5px 5px rgba(223,223,223,.42); -o-box-shadow: 0 5px 5px rgba(223,223,223,.42); } 
h3.posting_heading { color:#282828; font-size:30px; line-height:36px; }
.post_form { margin: 20px 0 0 0; } 
.select_job_post { width: 100%; float:left; background-color: #fff; -webkit-box-shadow: 0 0 7px rgba(0,0,0,.35); -moz-box-shadow: 0 0 7px rgba(0,0,0,.35); box-shadow: 0 0 7px rgba(0,0,0,.35); -moz-box-shadow: 0 0 7px rgba(0,0,0,.35); -o-box-shadow: 0 0 7px rgba(0,0,0,.35); position:relative; }
.select_job_post select { height:56px; -webkit-appearance: none; -moz-appearance: none; appearance: none; -ms-appearance: none; -o-appearance: none; padding:0 45px; }
.select_job_post select option { padding:5px 10px; }
.select_job_post input[type="text"] { height:56px; margin:0; border-color:transparent; padding: 0 160px 0 20px; box-sizing: border-box; } 
.select_job_post input[type="submit"],.select_job_post input[type="button"] { width:auto; height:56px; border:2px solid #fff; position: absolute; right:0; top:0; padding:0 20px; text-transform: uppercase; background: #ffdb4d; line-height: 56px; font-size: 16px; color: #282828; } 
.select_job_post input[type="submit"]:hover,.select_job_post input[type="button"]:hover,.select_job_post input[type="submit"]:focus,.select_job_post input[type="button"]:focus { background:#f4d24b; }

.simple_section { width: 100%; float: left; box-sizing: border-box; text-align: center; padding: 80px 0; counter-reset: section; } 
h2.simple_heading { width: 100%; float: left; font-size: 40px; line-height:45px; margin: 0 0 40px 0; padding: 0; color:#282828; text-align:center; } 
.simple_each_section { width:100%; float: left; text-align: left; background:url("../images/simple-bg.png") top center no-repeat; padding:70px 0 20px 55px; min-height: 270px; position:relative; } 
.simple_each_section:before { width:35px; position:absolute; left:0; top:55px; text-align:right; font-size: 60px; line-height:65px; color: #38d034; counter-increment: section; content:counter(section); overflow:hidden; }


.simple_each_section span { width:100%; float: left; font-size: 14px; text-transform: uppercase; line-height: 0px; color: #38d034; font-weight:500; }
.simple_each_section h3 { font-size: 30px; color: #282828; line-height:35px; float: left; width: 100%; margin:10px 0 15px 0; }
.simple_each_section p { width: 100%; float: left; font-size: 16px; color: #909090; line-height: 21px; } 


.trending_section { width:100%; float:left; padding:70px 0 50px 0; background:#fbfcfe; } 
a.uni-inner-section,a.uni-inner-section:link,a.uni-inner-section:visited { width:100%; float:left; padding:15px; text-align: left; min-height: 100px; margin-bottom:20px; background:#fff; -webkit-box-shadow: 5px 4px 8px rgba(0,0,0,.03); -moz-box-shadow: 5px 4px 8px rgba(0,0,0,.03); box-shadow: 5px 4px 8px rgba(0,0,0,.03); -ms-box-shadow: 5px 4px 8px rgba(0,0,0,.03); -o-box-shadow: 5px 4px 8px rgba(0,0,0,.03); border: solid 1px rgba(237,237,237,.55); }
a.uni-inner-section:hover,a.uni-inner-section:focus { -webkit-box-shadow: 5px 4px 8px rgba(0,0,0,.07); -moz-box-shadow: 5px 4px 8px rgba(0,0,0,.07); box-shadow: 5px 4px 8px rgba(0,0,0,.07); -ms-box-shadow: 5px 4px 8px rgba(0,0,0,.07); -o-box-shadow: 5px 4px 8px rgba(0,0,0,.07); }

span.uni-images {float: left; width: 25%; }
.name-sec { width: 73%; float: right; }
span.uni-name { margin: 0; line-height: 20px; font-size: 16px; color: #282828; width: 100%; float: left;  }
span.uni-icons {width: 100%; float: left; font-size: 13px; line-height: 15px; padding:0 0 0 17px; margin-top:5px; color: #888; background:url("../images/location.png") left center no-repeat; }





.trust_section { width:100%; float:left; background-color: #4c5e62; padding:60px 0; }
.trust_section .simple_heading { color:#fff; margin-bottom:80px; }
.trust_section figure { width:100%; float:left;}
.trust_section figure img { max-width:100%; position:relative; top:50%; left:50%; -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%);  }


.company-details-section { width: 100%; float: left; padding:70px 0; }
.company-each { width:100%; float: left; }
h4.comp-heading { font-size: 19px; color: #282828; width:100%; float: left; margin:0 0 15px 0; line-height: 21px; border-bottom: 1px solid #ddd; padding-bottom: 12px; }
ul.comp-list { margin: 0; padding: 0; }
ul.comp-list li { width:100%; float: left; margin-bottom:7px; }
ul.comp-list li:last-of-type { margin-bottom:0; }
ul.comp-list li a,ul.comp-list li a:link,ul.comp-list li a:visited { width:auto; float: left; font-size: 14px; line-height: 21px; color: #9bb0b5; }
ul.comp-list li a:hover,ul.comp-list li a:focus { color:#039be5; }




ul.social { float: left; margin:15px 0 0 0; padding: 0; width: 100%; }
ul.social li { float: left; margin-right:5px;}
ul.social li:last-of-type { margin:0; }
ul.social li a,ul.social li a:link,ul.social li a:visited { width:28px; height:28px; float:left;}
ul.social li:nth-of-type(1) { background-color: #00aced; }
ul.social li:nth-of-type(2) { background-color: #3b5998; }
ul.social li:nth-of-type(3) { background-color: #007bb6; }
ul.social li:hover { opacity:0.8; }
i.fa.fa-twitter,i.fa.fa-facebook,i.fa.fa-linkedin { font-size:18px; color: #fff; position:relative; top:50%; left:50%; -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); }



footer { width: 100%; float: left; text-align: center; background-color: #4c5e62; padding:6px 0;  } 
footer p { width: 100%; float: left; font-size: 13px; line-height: 15px; color: #9bb0b5; text-align:center; } 













