<!DOCTYPE html>
<html>

<head>
    <title>Picubed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="./../../../css/materialize.css" media="screen,projection" />
    <!-- <link type="text/css" rel="stylesheet" href="./../../../css/custom.css" media="screen,projection" /> -->
    <link type="text/css" rel="stylesheet" href="./css/style.css" media="screen,projection" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500" rel="stylesheet">


</head>

<body>
    <div class="header">
        <div class="header-container">
            <div class="web-left-section">
                <span class="web-logo">
                    <a href="#"><img src="./../images/Untitled-1.png"/></a>
                </span>
            </div>
            <div class="web-right-section">
                <span class="web-hed-content">
                        <ul class="web-right">
                                <li><a href="javascript:void(0);" class="company-btn">Company</a></li>
                                <li><a href="javascript:void(0);" class="university">University</a></li>
                                <li class="us">
                                        <div class="tooltip">
                                            <span class="user-profile">
                                                <img src="./../images/profile-pic.jpg" class="user-p"/>
                                                <img src="./../images/arro.png" class="down-ar"/>
                                            </span>
                                            <span class="tooltiptext">
                                                <a href="javascript:void(0);" class="sign-up">Sign Up</a>
                                                <a href="javascript:void(0);" class="sign-in">Sign In</a>
                                            </span>
                                        </div>
                                </li>

                        </ul>
               </span>
            </div>
         </div>
    </div>
    <div class="section">
        <div class="web-inner-section">
            <div class="web-sub-inner">
                <span class="web-heading">
                        The leading campus recruiting network for employers.
                </span>
                <span class="web-sub-haeding">
                    Top platform for employers to engage and recruit qualified students and recent grads.
                </span>
            </div>
            <div class="web-sub-inner padd">
                <div class="web-form-section">
                    <span class="foem-sub-heading">
                        Start Posting Jobs/Projects! 
                    </span>
                    <div class="form-inner-section">
                        <div class="form-left-section">
                            <img src="./../images/location.png" class="location-img"/>
                            <img src="./../images/a.png" class="arrow-img"/>
                            <select class="custom">
                                
                                <option value="volvo">Jalandhar</option>
                                <option value="volvo">Delhi</option>
                                
                            </select>
                        </div>
                        <div class="form-right-section">
                            <span class="search">
                                <div class="input-field col s12">
                                        <input id="last_name" type="text" class="validate" placeholder="Search by college name or keyword">
                                        <a href="javascript:void(0);" class="search-b">Get started</a>
                                </div>
                           </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="simple-section">
        <div class="container">
            <span class="simple-easy">
                Simple and Easy Process
            </span>
      
            <div class="simple-sub-inner-section container">
                <div class="simple-each-section">
                    <span class="sim-tag">1</span>
                    <span class="sim-head">Create Job</span>
                    <div class="main-content main-content1">
                        <span class="sub-head">One post does it all</span>
                    </div>
                    <div class="sub-inner-content">
                        <span class="web-content">
                            Find the best candidate by reaching multiple university on boards with one job post
                        </span>
                    </div>
                </div>
                <div class="simple-each-section">
                    <span class="sim-tag">2</span>
                    <span class="sim-head">Select University</span>
                     <div class="main-content">
                        <span class="sub-head">Access to the Most Universities</span>
                    </div>
                     <div class="sub-inner-content">
                        <span class="web-content web-pad">
                            Get your job in front of the right candidates from our network of nearly 1,000 universities.
                        </span>
                    </div>
                </div>
                <div class="simple-each-section">
                    <span class="sim-tag">3</span>
                    <span class="sim-head">Post a job</span>
                      <div class="main-content">
                        <span class="sub-head">Reach Millions of Students</span>
                    </div>
                    <div class="sub-inner-content">
                        <span class="web-content web-pad">
                           When you join our platform, you get access to an exclusive set of qualified students and recent graduates.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uni-list-section">
        <div class="container">
            <span class="uni-head">
                Top trending universities to hire from
            </span>
            <div class="uni-list-outer">

                <div class="uni-each-section">
                    <div class="uni-inner-section">
                        <span class="uni-images">
                                <img src="./../images/logo.png" class="uni-img"/>
                            </span>
                        <div class="name-sec">
                            <span class="uni-name">
                                        Lovely Professional University
                                    </span>
                            <span class="uni-icons">
                                        <img src="./../images/location.png" class="location"/>
                                        Phagwara
                                    </span>
                        </div>

                    </div>
                </div>
                <div class="uni-each-section">
                    <div class="uni-inner-section">
                        <span class="uni-images">
                                <img src="./../images/asu.png" class="uni-img"/>
                            </span>
                        <div class="name-sec">
                            <span class="uni-name">
                                        Lovely Professional University
                                    </span>
                            <span class="uni-icons">
                                        <img src="./../images/location.png" class="location"/>
                                        Phagwara
                                    </span>
                        </div>

                    </div>

                </div>
                <div class="uni-each-section">
                    <div class="uni-inner-section">
                        <span class="uni-images">
                                <img src="./../images/logo.png" class="uni-img"/>
                            </span>
                        <div class="name-sec">
                            <span class="uni-name">
                                        Lovely Professional University
                                    </span>
                            <span class="uni-icons">
                                        <img src="./../images/location.png" class="location"/>
                                        Phagwara
                                    </span>
                        </div>

                    </div>

                </div>
                <div class="uni-each-section">
                    <div class="uni-inner-section">
                        <span class="uni-images">
                                <img src="./../images/logo.png" class="uni-img"/>
                            </span>
                        <div class="name-sec">
                            <span class="uni-name">
                                        Lovely Professional University
                                    </span>
                            <span class="uni-icons">
                                        <img src="./../images/location.png" class="location"/>
                                        Phagwara
                                    </span>
                        </div>

                    </div>

                </div>

            </div>
            <div class="uni-list-outer">

                <div class="uni-each-section">
                    <div class="uni-inner-section">
                        <span class="uni-images">
                                <img src="./../images/boston.png" class="uni-img"/>
                            </span>
                        <div class="name-sec">
                            <span class="uni-name">
                                       boston universities
                                    </span>
                            <span class="uni-icons">
                                        <img src="./../images/location.png" class="location"/>
                                        Phagwara
                                    </span>
                        </div>

                    </div>
                </div>
                <div class="uni-each-section">
                    <div class="uni-inner-section">
                        <span class="uni-images">
                                <img src="./../images/logo.png" class="uni-img"/>
                            </span>
                        <div class="name-sec">
                            <span class="uni-name">
                                        Lovely Professional University
                                    </span>
                            <span class="uni-icons">
                                        <img src="./../images/location.png" class="location"/>
                                        Phagwara
                                    </span>
                        </div>

                    </div>

                </div>
                <div class="uni-each-section">
                    <div class="uni-inner-section">
                        <span class="uni-images">
                                <img src="./../images/braunch.png" class="uni-img"/>
                            </span>
                        <div class="name-sec">
                            <span class="uni-name">
                                        Lovely Professional University
                                    </span>
                            <span class="uni-icons">
                                        <img src="./../images/location.png" class="location"/>
                                        Phagwara
                                    </span>
                        </div>

                    </div>

                </div>
                <div class="uni-each-section">
                    <div class="uni-inner-section">
                        <span class="uni-images">
                                <img src="./../images/logo.png" class="uni-img"/>
                            </span>
                        <div class="name-sec">
                            <span class="uni-name">
                                        Lovely Professional University
                                    </span>
                            <span class="uni-icons">
                                        <img src="./../images/location.png" class="location"/>
                                        Phagwara
                                    </span>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="trust-section">
        <div class="container">
            <div class="trust-inner-section">
                <div class="trust-each-section">
                    <span class="trust">Trusted By Top Employers</span>
                </div>
                <div class="trust-banner-section">
                    <img src="./../images/banner.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="company-details-section">
        <div class="container">
            <div class="company-each">
                <span class="comp-heading">
                     Company
                 </span>
                <span class="comp-bottom-section">
                      <ul class="comp-list">
                          <li><a href="javascript:void(0);">About</li>
                          <li><a href="javascript:void(0);">Our Team</li>
                          <li><a href="javascript:void(0);">Blog</li>
                          <li><a href="javascript:void(0);">Terms & Conditions</li>
                          <li><a href="javascript:void(0);">Privacy Policy</li>
                      </ul>
                 </span>
            </div>
            <div class="company-each">
                <span class="comp-heading">
                     Product
                 </span>
                <span class="comp-bottom-section">
                      <ul class="comp-list">
                          
                          <li><a href="javascript:void(0);">Product Users</li>
                          <li><a href="javascript:void(0);">Brochure</li>
                          
                      </ul>
                 </span>
            </div>
            <div class="company-each">
                <span class="comp-heading">
                     Quick Links
                 </span>
                <span class="comp-bottom-section">
                        <ul class="comp-list">
                            <li><a href="javascript:void(0);">Top Colleges Nationwide</li>
                            <li><a href="javascript:void(0);">Top Colleges in the Norteast</li>
                            <li><a href="javascript:void(0);">Top Colleges in the Midwest</li>
                            <li><a href="javascript:void(0);">Top Colleges in the South</li>
                            <li><a href="javascript:void(0);">Top Colleges in the West</li>
                        </ul>
                 </span>
            </div>
            <div class="company-each">
                <span class="comp-heading">
                     Connect
                 </span>
                <span class="comp-bottom-section">
                      <ul class="comp-list">
                          <li><a href="javascript:void(0);">Contact Us</li>
                          <li><a href="javascript:void(0);">Login</li>
                          <li><a href="javascript:void(0);">Career</li>
                          <li>
                              <ul class="social">
                                  <li><a href="https://twitter.com" class="twitter"><i class="fa fa-twitter" aria-hidden="true" class="icns"></i></a></li>
                                  <li><a href="https://www.facebook.com" class="facebook"><i class="fa fa-facebook" aria-hidden="true" class="icns"></i></a></li>
                                  <li><a href="https://www.linkedin.com" class="linkdin"><i class="fa fa-linkedin" aria-hidden="true" class="icns"></i></a></li>
                              </ul>
                          </li>
                          
                      </ul>
                 </span>
            </div>
        </div>
    </div>
    <div class="fot-section">
        <div class="container">

            <span class="fotr">Copyright  ©  2017-2018 </span>

        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="./../../../js/materialize.min.js"></script>
    <script type="text/javascript" src="./../../../js/custom.js"></script>
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 1) {
                $('header').addClass("sticky");
            }
            else {
                $('header').removeClass("sticky");
            }
        });
    </script>

</body>

</html>